.btnSubmit {
    height: 50px;
    padding: 0.5rem 1rem;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
}

.btnView {
    @extend .btnSubmit;
    color: green;
    border: 1px solid green;
}
