$variables: btn, input, close;
$btn: btn;
$input: input;
$close: close;
$menu: menu;
$del: del;
$base-color: #036;

.icon-#{$btn} {
    background-image: url("/assets/img/#{$btn}.png");
    color: orange;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    width: 50px;
    height: 20px;
    display: inline-block;
}

.icon-#{$input} {
    color: red;
}

.icon-#{$close} {
    color: green;
}

@for $i from 1 through 3 {
    ul li:nth-child(2n + #{$i}) {
        // background-color: #{$base-color};
    }
}

@each $variable in $variables {
    .icon-#{$variable} {
        background-image: url("/assets/img/#{$variable}.png");
        background-position: center;
        background-repeat: none;
        background-size: contain;
        width: 50px;
        height: 20px;
        display: inline-block;
    }
}
