@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flexbox(
    $flex-direction: row,
    $justify-content: flex-start,
    $align-items: stretch,
    $gap: 0
) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}
